<div>
<p>There should be four new timelines below.</p>
<twitter-timeline twitter-timeline-type='profile' twitter-timeline-screen-name="'IAmAru'" twitter-timeline-options='{"chrome": "noheader", "height": 300}'></twitter-timeline>
<twitter-timeline twitter-timeline-type='likes' twitter-timeline-screen-name="'IAmAru'" twitter-timeline-options='{"showReplies": true, "height": 300}'></twitter-timeline>
<twitter-timeline twitter-timeline-type='url' twitter-timeline-url='"https://twitter.com/fabric"' twitter-timeline-options='{"height": 300}'></twitter-timeline>
<twitter-timeline twitter-timeline-type='list' twitter-timeline-owner-screen-name='"IAmAru"' twitter-timeline-slug='"food-trucks"' twitter-timeline-options='{"height": 300}'></twitter-timeline>
</div>
