<div>
<p>There should be three timelines below.</p>
<twitter-timeline twitter-timeline-id="'600720083413962752'" twitter-timeline-options='{"chrome": "noheader"}'></twitter-timeline>
<twitter-timeline twitter-timeline-id="'600720083413962752'" twitter-timeline-screen-name="'IAmAru'" twitter-timeline-options='{"showReplies": true}'></twitter-timeline>
<twitter-timeline>
    <a class="twitter-timeline"
       data-widget-id="600720083413962752"
       href="https://twitter.com/fabric"
       data-screen-name="fabric">
        Tweets by @fabric
    </a>
</twitter-timeline>
</div>

