<div>
    <p>There should be two tweets embedded below.</p>
    <twitter-widget>
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">And winners of <a href="https://twitter.com/hashtag/GraphConnect?src=hash">#GraphConnect</a> <a href="https://twitter.com/hashtag/ShowMeYourGraph?src=hash">#ShowMeYourGraph</a> <a href="https://twitter.com/hashtag/graphviz?src=hash">#graphviz</a> contest are <a href="https://twitter.com/IAmAru">@IAmAru</a>, <a href="https://twitter.com/petjr">@petjr</a> &amp; <a href="https://twitter.com/swainjo">@swainjo</a> <a href="http://t.co/aEkgH1wtO0">http://t.co/aEkgH1wtO0</a> <a href="http://t.co/Wj2bVj3NLf">pic.twitter.com/Wj2bVj3NLf</a></p>&mdash; GraphConnect (@GraphConnect) <a href="https://twitter.com/GraphConnect/status/518038287244464128">October 3, 2014</a></blockquote>
    </twitter-widget>
    <twitter-widget>
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Sometimes I forget that <a href="https://twitter.com/ansible">@ansible</a> knows that my <a href="https://twitter.com/hashtag/dev?src=hash">#dev</a> box has Super Cow Powers. <a href="https://twitter.com/hashtag/cowsay?src=hash">#cowsay</a> <a href="http://t.co/hijh93LOdF">pic.twitter.com/hijh93LOdF</a></p>&mdash; Aru (@IAmAru) <a href="https://twitter.com/IAmAru/status/613817115942883329">June 24, 2015</a></blockquote>
    </twitter-widget>
</div>

