<!doctype html>
<html ng-app="ngTweetDemo">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>ngTweet - Twitter Widgets for AngularJS</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/prism/themes/prism-tomorrow.css"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var myApp = angular.module('ngTweetDemo', ['ngtweet']);
        myApp.controller('ToggleVisibilityCtrl', function($scope) {
            $scope.visible = false;
        });
        /** Angular directive for PrismJS via: http://blog.chorip.am/articles/prismjs-and-angularjs/ **/
        myApp.directive('prism', function() {
            return {
                restrict: 'A',
                link: function ($scope, element, attrs) {
                    element.ready(function() {
                        Prism.highlightElement(element[0]);
                    });
                }
            };
        });
    </script>
    <style type="text/css" media="screen">
        /* Fix for ui-bootstrap */
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

        /* Page styles */
        body { padding-top: 50px; }
        .panel {
            position: relative;
            padding: 45px 15px 15px;
            margin-top: 20px;
        }
        .jumbotron {
            background-image: url("res/twitter.svg");
            background-size: 100vh, cover;
            background-attachment: fixed;
            background-position: top right;
            background-repeat: no-repeat;
        }
        .panel::after {
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 12px;
            font-weight: 700;
            color: #959595;
            text-transform: uppercase;
            letter-spacing: 1px;
            content: "Example";
        }
        .panel button {
            margin-top: 8px;
        }
        .twitter-tweet-unrendered,
        .ngtweet-wrapper blockquote.twitter-tweet {
            margin-top: 10px;
        }
        p {
            font-size: 1.15em;
        }
        footer {
            text-align: center;
            padding: 30px 0px;
            margin-top: 70px;
            border-top: 1px solid #E5E5E5;
            background-color: #F5F5F5;
        }
        h1[id]::before,
        h2[id]::before,
        h3[id]::before {
            content: "";
            display: block;
            height: 60px;
            margin: -60px 0 0;
        }
    </style>
</head>
<body class="ng-cloak">
<header class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="." class="navbar-brand">ngTweet</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                   <a href="#why">Why?</a>
                </li>
                <li>
                    <a href="#intro">Getting started</a>
                </li>
                <li>
                    <a href="#tweet">Tweet Embed</a>
                </li>
                <li>
                    <a href="#timelines">Timelines</a>
                </li>
                <li>
                    <a href="#additional">Additional Features</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/arusahni/ngtweet/">Fork on GitHub</a></li>
            </ul>
        </nav>
    </div>
</header>
<div role="main">
    <div class="jumbotron" id="overview">
        <div class="container">
            <h1>ngTweet</h1>
            <p>Embed Twitter widgets into your Angular application without messing around with script loaders or embed state.</p>
        </div>
    </div>
    <div class="container">
        <h1 id="why">Why?</h1>
        <p>Embedding Tweets is easy... if your website is a static page. Just drop in a Twitter-supplied embed and you're off to the races. Once you start dynamically altering page content through AJAX or DOM manipulation, things become far less simple since Twitter's widget loader not only scans the entire DOM by default, but requires interactions that violate some of Angular's core principles. ngTweet aims to abstract away these hacks so your codebase can achieve maximum zen.</p>
        <h1 id="intro">Getting started</h1>
        <h2>Dependencies</h2>
        <ul>
            <li>AngularJS 1.x</li>
        </ul>
        <h2>Installation</h2>
        <h3>With Bower (preferred)</h4>
        <pre><code class="language-bash">$ bower install --save ngtweet</code></pre>
        <p>Then include the script.</p>
        <pre><code class="language-markup">
&lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"&gt;&lt;/script&gt;
&lt;script src="bower_components/ngtweet/dist/ngtweet.min.js"&gt;&lt;/script&gt;</code></pre>
        <h3>Manually</h3>
        <p><a href="https://raw.githubusercontent.com/arusahni/ngtweet/master/dist/ngtweet.min.js">Download the latest release (1.5kb minified, gzipped)</a>. Then include the script.</p>
        <pre><code class="language-markup">
&lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"&gt;&lt;/script&gt;
&lt;script src="./path/to/ngtweet.min.js"&gt;&lt;/script&gt;</code></pre>
        <h3>Add module dependency</h3>
        <pre><code class="language-javascript">var myApp = angular.module('myApp', ['ngtweet']);</code></pre>

        <!-- TWEETS SECTION -->
        <h2 id="tweet">Tweets</h2>
        <p>There are two ways to embed a Twitter widget - with the source from Twitter (<a href="#tweetEmbedded">embedded</a>), or via Tweet ID (<a href="#tweetLinked">linked</a>).</p>

        <h3 id="tweetEmbedded">Embedded</h3>
        <p>Given the source for an embedded Tweet</p>

        <pre><code class="language-markup">
&lt;blockquote class="twitter-tweet" lang="en"&gt;&lt;p lang="en" dir="ltr"&gt;&quot;No one likes Bit O&#39; Honey.&quot; ~&lt;a href="https://twitter.com/griffinmcelroy"&gt;@griffinmcelroy&lt;/a&gt; &lt;a href="https://twitter.com/hashtag/truth?src=hash"&gt;#truth&lt;/a&gt;&lt;/p&gt;&mdash; Aru (@IAmAru) &lt;a href="https://twitter.com/IAmAru/status/608455483507245059"&gt;June 10, 2015&lt;/a&gt;&lt;/blockquote&gt;
&lt;script async src="//platform.twitter.com/widgets.js" charset="utf-8"&gt;&lt;/script&gt;</code></pre>

        <p>First, remove the <code>&lt;script&gt;</code> element from the markup.  Then, simply wrap it in a <code>&lt;twitter-widget&gt;</code> tag:</p>

        <pre><code class="language-markup">
&lt;twitter-widget&gt;
    &lt;blockquote class="twitter-tweet" lang="en"&gt;&lt;p lang="en" dir="ltr"&gt;&quot;No one likes Bit O&#39; Honey.&quot; ~&lt;a href="https://twitter.com/griffinmcelroy"&gt;@griffinmcelroy&lt;/a&gt; &lt;a href="https://twitter.com/hashtag/truth?src=hash"&gt;#truth&lt;/a&gt;&lt;/p&gt;&mdash; Aru (@IAmAru) &lt;a href="https://twitter.com/IAmAru/status/608455483507245059"&gt;June 10, 2015&lt;/a&gt;&lt;/blockquote&gt;
&lt;/twitter-widget&gt;</code></pre>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" ng-controller="ToggleVisibilityCtrl">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-class="{active: visible}" ng-click="visible = !visible">{{ visible ? "Remove" : "Load" }} Widget</button>
                    </div>
                    <div class="col-md-10">
                        <div ng-if="visible">
                            <twitter-widget>
                            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">&quot;No one likes Bit O&#39; Honey.&quot; ~<a href="https://twitter.com/griffinmcelroy">@griffinmcelroy</a> <a href="https://twitter.com/hashtag/truth?src=hash">#truth</a></p>&mdash; Aru (@IAmAru) <a href="https://twitter.com/IAmAru/status/608455483507245059">June 10, 2015</a></blockquote>
                            </twitter-widget>
                        </div>
                        <div ng-if="!visible">
                            <!-- Note: The sample Tweet below is missing the `twitter-tweet` class because it's being selectively rendered. -->
                            <blockquote class="twitter-tweet-unrendered" lang="en"><p lang="en" dir="ltr">&quot;No one likes Bit O&#39; Honey.&quot; ~<a href="https://twitter.com/griffinmcelroy">@griffinmcelroy</a> <a href="https://twitter.com/hashtag/truth?src=hash">#truth</a></p>&mdash; Aru (@IAmAru) <a href="https://twitter.com/IAmAru/status/608455483507245059">June 10, 2015</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 id="tweetLinked">Linked</h3>
        <p>Given a Tweet with ID <code>617749885933232128</code>, simply add a <code>&lt;twitter-widget&gt;</code> tag to your markup with an attribute named `twitter-widget-id` specifying the Tweet ID.</p>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" ng-controller="ToggleVisibilityCtrl">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-class="{active: visible}" ng-click="visible = !visible">{{ visible ? "Remove" : "Load" }} Widget</button>
                    </div>
                    <div class="col-md-10">
                        <div ng-if="visible">
                            <twitter-widget twitter-widget-id="'617749885933232128'">
                            </twitter-widget>
                        </div>
                        <div ng-if="!visible">
                            <pre><code class="language-markup" prism>
&lt;twitter-widget twitter-widget-id="'617749885933232128'"&gt;
&lt;/twitter-widget&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>Tweet appearance can be customized by adding a <code>twitter-widget-options</code> attribute with an object containing the configuration parameters (<a href="https://dev.twitter.com/web/embedded-tweets/parameters">as defined in the Twitter Widget API docs</a>).</p>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" ng-controller="ToggleVisibilityCtrl">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-class="{active: visible}" ng-click="visible = !visible">{{ visible ? "Remove" : "Load" }} Widget</button>
                    </div>
                    <div class="col-md-10">
                        <div ng-if="visible">
                            <twitter-widget twitter-widget-id="'617749885933232128'" twitter-widget-options="{'cards': 'hidden', 'align': 'right'}">
                            </twitter-widget>
                        </div>
                        <div ng-if="!visible">
                            <pre><code class="language-markup" prism>
&lt;twitter-widget twitter-widget-id="'617749885933232128'"
                twitter-widget-options="{'cards': 'hidden', 'align': 'right'}"&gt;
&lt;/twitter-widget&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 id="timelines">Timelines</h2>
        <p>As with tweets, there are two ways to embed <a href="https://dev.twitter.com/web/embedded-timelines">Timeline widgets</a> - with the source from Twitter (<a href="#timelineEmbedded">embedded</a>), or via widget ID (<a href="#timelineLinked">linked</a>).</p>

        <h3 id="timelineEmbedded">Embedded</h3>
        <p>Given the source for an embedded Timeline</p>

        <pre><code class="language-markup">
&lt;a class="twitter-timeline"  href="https://twitter.com/IAmAru/lists/food-trucks" data-widget-id="673710543212052480"&gt;Tweets from https://twitter.com/IAmAru/lists/food-trucks&lt;/a&gt;
&lt;script&gt;!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");&lt;/script&gt;
        </code></pre>

        <p>First, remove the <code>&lt;script&gt;</code> element from the markup. Then wrap it in a <code>&lt;twitter-timeline&gt;</code> tag:</p>

        <pre><code class="language-markup">
&lt;twitter-timeline&gt;
    &lt;a class="twitter-timeline"
       href="https://twitter.com/IAmAru/lists/food-trucks"
       data-widget-id="673710543212052480"&gt;
       Tweets from https://twitter.com/IAmAru/lists/food-trucks
    &lt;/a&gt;
&lt;twitter-timeline&gt;</code></pre>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" ng-controller="ToggleVisibilityCtrl">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-class="{active: visible}" ng-click="visible = !visible">{{ visible ? "Remove" : "Load" }} Widget</button>
                    </div>
                    <div class="col-md-10">
                        <div ng-if="visible">
                            <twitter-timeline>
                                <a class="twitter-timeline" href="https://twitter.com/IAmAru/lists/food-trucks" data-widget-id="673710543212052480"> Tweets from https://twitter.com/IAmAru/lists/food-trucks</a>
                            </twitter-timeline>
                        </div>
                        <div ng-if="!visible">
                            <!-- Note: The sample Tweet below is missing the `twitter-tweet` class because it's being selectively rendered. -->
                            <a class="twitter-timeline-unrendered" href="https://twitter.com/IAmAru/lists/food-trucks" data-widget-id="673710543212052480"> Tweets from https://twitter.com/IAmAru/lists/food-trucks</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 id="timelineLinked">Linked</h3>
        <p>Given a Timeline with ID <code>673710543212052480</code>, simply add a <code>&lt;twitter-timeline&gt;</code> tag to your markup with an attribute named `twitter-timeline-id` specifying the Tweet ID.</p>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" ng-controller="ToggleVisibilityCtrl">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-class="{active: visible}" ng-click="visible = !visible">{{ visible ? "Remove" : "Load" }} Widget</button>
                    </div>
                    <div class="col-md-10">
                        <div ng-if="visible">
                            <twitter-timeline twitter-timeline-id="'673710543212052480'">
                            </twitter-timeline>
                        </div>
                        <div ng-if="!visible">
                            <pre><code class="language-markup" prism>
&lt;twitter-timeline twitter-timeline-id="'673710543212052480'"&gt;
&lt;/twitter-timeline&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>Timeline appearance can be customized by adding a <code>twitter-timeline-options</code> attribute with an object containing the configuration parameters (<a href="https://dev.twitter.com/web/embedded-timelines/parameters">as defined in the Twitter Timeline API docs</a>). If you're directly passing in an object, it <em>must</em> be a parseable JSON object (i.e. all quotes must be double quotes, etc.).</p>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" ng-controller="ToggleVisibilityCtrl">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-class="{active: visible}" ng-click="visible = !visible">{{ visible ? "Remove" : "Load" }} Widget</button>
                    </div>
                    <div class="col-md-10">
                        <div ng-if="visible">
                            <twitter-timeline twitter-timeline-id="'673710543212052480'" twitter-timeline-options='{"chrome": "noheader"}'>
                            </twitter-widget>
                        </div>
                        <div ng-if="!visible">
                            <pre><code class="language-markup" prism>
&lt;twitter-timeline twitter-timeline-id="'673710543212052480'"
                  twitter-timeline-options='{"chrome": "hidden"}'&gt;
&lt;/twitter-timeline&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>If you don't have an ID for the timeline, <a href="https://blog.twitter.com/2016/embedding-twitter-timelines-just-got-a-lot-easier">due to recent changes to the Twitter embedding API</a>, fret not - there is an alternative for you! Simply specify the <code>twitter-timeline-type</code> and appropriate arguments. For example, for the above...</p>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" ng-controller="ToggleVisibilityCtrl">
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-class="{active: visible}" ng-click="visible = !visible">{{ visible ? "Remove" : "Load" }} Widget</button>
                    </div>
                    <div class="col-md-10">
                        <div ng-if="visible">
                            <twitter-timeline twitter-timeline-type="list"
                                              twitter-timeline-owner-screen-name="'IAmAru'"
                                              twitter-timeline-slug="'food-trucks'"
                                              twitter-timeline-options='{"height": 400}'>
                            </twitter-widget>
                        </div>
                        <div ng-if="!visible">
                            <pre><code class="language-markup" prism>
&lt;twitter-timeline twitter-timeline-type="list"
                  twitter-timeline-owner-screen-name="'IAmAru'"
                  twitter-timeline-slug="'food-trucks'"
                  twitter-timeline-options='{"chrome": "noheader"}'&gt;
&lt;/twitter-widget&gt;
</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 id="additional">Additional Features</h2>
        <h3>Script Loading Hint</h3>
        <p>ngTweet downloads Twitter's Widgets script the first time a widget directive is encountered. To download the script at app startup, add the <code>twitter-widget-initialize</code> attribute to an element. For example:</p>
        <pre><code class="language-markup" prism>
&lt;html ng-app="myapp"&gt;
    &lt;body twitter-widget-initialize&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>&copy; 2015 Aru Sahni</p>
        <p>Code licensed under the <a href="https://github.com/arusahni/ngtweet/blob/master/LICENSE">MIT license</a></p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="bower_components/ngtweet/dist/ngtweet.min.js"></script>
<script src="bower_components/prism/prism.js"></script>
<script src="bower_components/prism/components/prism-bash.min.js"></script>
</body>
</html>
